<manifest package="kr.co.dementor.dementorbank"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name=".ui.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegistActivity">
        </activity>
        <activity
            android:name=".ui.SelectImageActivity">
        </activity>
        <activity
            android:name=".ui.SimpleTransferActivity">
        </activity>
        <activity
            android:name=".ui.BankMainActivity">
        </activity>
        <activity
            android:name=".ui.SearchMyDepositActivity">
        </activity>
        <activity
            android:name=".ui.JajuActivity">
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>
