<manifest package="kr.co.dementor.dementorbank"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"

        >

        <activity
            android:name=".ui.AuthActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegistActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.SelectImageActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.SimpleTransferActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.BankMainActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.SearchMyDepositActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.JajuActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.MediaPlayerActivity" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
